@import url(../../Main.css);

.result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:solid 1px  var(--alert);
    margin: 8px 4px;
    padding: 0px;
    border-radius: 8px;
    max-height: 25vh;
    font-size: 16px;
}

.msg {
    color: var(--alert);
    margin-top: 4px;
    text-align: center;
}

.alert a {
    text-decoration: none;
    color: var(--theme);
    margin-bottom: 4px;
    padding: 16px;
    text-align: center;
}

.imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--text);
    border: solid 1px var(--theme);
    max-height: 25vh;
    margin: 8px 4px;
    border-radius: 8px;
}

.valor {
    text-align: center;
    color: var(--theme);
}